# Analisis Exploratorio de Datos

## 1.- Introducción muuuuy rapida a Data Frames

Puedes pensar en un **dataframe** como una variablesota donde puedes guardar tablas enteras (en vez de números o palabras sencillos).

Los dataframes no son nativos de Python, vienen de una libreria llamada **Pandas**

Lo primero que se necesita para trabajar con susodichos dataframes es... importar Pandas

In [1]:
import pandas as pd
# pd = abreviasion de pandas

Ok, ahora vamos a crear un Dataframe que almacene todos los datos que vienen en nuestro archivo de Excel CSV

In [2]:
df_train = pd.read_csv('train.csv') # la variable contiene el metodo read_csv que lo trade de pandas (pd)

Veamos como se importo nuestra base de datos a df

Ok, veamos códigos útiles para analizar Dataframes. El primer método es **head**

In [3]:
df_train.head(20) # metodo head() trae los 1ros 20 elementos de la tabla

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000
10,11,20,RL,70.0,11200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,129500
11,12,60,RL,85.0,11924,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,New,Partial,345000
12,13,20,RL,NaN,12968,Pave,NaN,IR2,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,144000
13,14,20,RL,91.0,10652,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,New,Partial,279500
14,15,20,RL,NaN,10920,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2008,WD,Normal,157000
15,16,45,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,7,2007,WD,Normal,132000
16,17,20,RL,NaN,11241,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,700,3,2010,WD,Normal,149000
17,18,90,RL,72.0,10791,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,Shed,500,10,2006,WD,Normal,90000
18,19,20,RL,66.0,13695,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,159000
19,20,20,RL,70.0,7560,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2009,COD,Abnorml,139000

Ahora conozcamos **shape**

In [4]:
df_train.shape # muestra la cantidad de la cantidad de datos y columnas

(1460, 81)

Que al si quieremos ver una columna en especifico? ponemos el nombre de la columna entre corchetes

Ok, ahora vamos viendo 2 columnas a la vez

Por último, vamos pégandole a la estádistica descriptiva. El método **mean** te da los promedios que quieres saber del DF

Y el método **Describe** te da un resumen de todo en el Dataframe

## 2.- Primeros pasos - traer todo lo importante

Importa todas las librerías que vas a necesitar

- pandas como pd
- matplotlib.pyplot como plt
- seaborn como sns
- numpy como np
- scipy.stats traer norm
- sklearn.preprocessing traer standardscaler
- scipy traer stats
- warnings

y %matplotlib inline

Importa el csv de train.csv para poder tener los datos

La idea es identificar cuales columnas creemos que van a tener el mayor impacto sobre el precio de la vivienda. 

Al final veremos que las columnas con mayor impacto son:

Variables de Construcción
- CalidadTotal
- AñoConstruccion

Variables de Espacio
- AreaSotano
- AreaVivienda

## 3.- Analisis de Precio de Ventas

Lo primero es conocer a "PrecioVenta". Vamos viendo su **describe**

Ahora vamos pidiendole una foto - hagamos una gráfica de **distplot**

Veremos que
- Se desvía de la distribucion normal
- Tiene Skew positivo (oblicuidad)
- Muestra Peakedness (kurtosis??)

Podemos conocer el skewness y la kurtosis de la gráfica usando los métodos **skew** y **kurt**

Vamos viendo que sucede con las amigas de "PrecioVenta" - dibujemos un ScatterPlot de PrecioVenta vs AreaVivienda. Nota como vamos a reducir el dataframe a solo 2 columnas para no tener que usar todo

Primero declara una variable var que contenga el area vivible

Luego vamos a usar pd.concat para crear una tabla de solo 2 columnas con area vivible (var) y Precio de venta que se llame data

y ahora vamos a terminar con un data.plot.scatter para crear una grafica de scatterplot.

Ahora que pasa con "PrecioVenta" y "AreaSotano"? Son amigas pero su relación no es lineal. Sin mencionar que a veces, el AreaSotano se va en su onda y evita el PrecioVenta

#### Relaciones categóricas

Vamos ahor a armar una gráfica de boxplot para verificar el efecto de la Calidad sobre el precio de ventas. 

Comenzamos igual, declara una variable var = "CalidadTotal"

Y una data donde concatenes el precio de ventas con var

Ahora viene lo dificl, en dos variables f y ax, vas a guardar el resultado de un plt.subplots - donde se define la nueva figura donde existirá la gráfica que se va a crear. F y ax es la figura y los ejes que devuelve la instruccion

por ultimo, definimos fig como una variable donde haremos un sns.boxplot (para guardar la grafica)

y definiremos el eje fig.axis de 0 a 8000000

Hagamos lo exacto mismo pero con Precio de Venta vs Año Construida

#### En resumen

¿Que es lo que observas de las variables númericas?

¿Que es lo que observas de las variables catégoricas

## 4.- Confirmando nuestra intuición

Hasta ahora decidimos a puro pulso que estas 4 eran las variables importantes, vamos confirmando con números si es verdad o no

### 4.1.- Matriz de Correlación

Lo primero es armar una matriz de correlación (mapa de calor) para ver cuales son las variables más correlacionadas

Vamos declarando una variable corrmat = df_train.corr() con todas las correlaciones entre variables

Luego unas f,ax para declarar un plt.subplots

Y finalmente hacemos el sns.heatmap

### 4.2.- Matriz de Correlación con Números

Ok, vamos haciendo lo mismo pero ahora con números - y vamos viendo quien se correlaciona más - sin llegar al punto que las 2 variables sean basicamente lo mismo claro

Comenzamos declarando k=10

Luego cols = corrmat.nlargest(k, 'SalePrice')['SalePrice'].inde

A continuación vamos a cm = np.corrcoef(df_train[cols].values.T)

Seguimos con sns.set(font_scale=1.25)

Armarmos el heatmap con hm = sns.heatmap(cm, cbar=True, annot=True, square=True, fmt='.2f', annot_kws={'size': 10}, yticklabels=cols.values, xticklabels=cols.values)

Podemos ver que:
- Calidad, AreaVivienda y area Sotano estan muy fuertemente correlacionadas con PrecioVenta
- Las variables de garage están super correlacionadas
- Sotano y 1er piso son basicamente hermanos gemelos
- Y AñoConstruccion esta ligeramente correlacionada con PrecioVenta, parece que en un futuro habra que hacer un analisis de serie de tiempo más serio.

### 4.3.- Scatter Plots entre Sale Price y variables Correlacionados

Por utlimo, hagamos scatterplots usando seabron de todas las posibles relaciones que podríamos tener en nuestro dataset - entre las variables que nos importan claro.

Comenzamos declarando sns.set()

Luego cols = ['SalePrice', 'OverallQual', 'GrLivArea', 'GarageCars', 'TotalBsmtSF', 'FullBath', 'YearBuilt']

Seguimos con sns.pairplot(df_train)

Y terminamos con plt.show();